Source: sixxsd
Section: net
Priority: optional
Maintainer: Jeroen Massar <jeroen@sixxs.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: sixxsd
Architecture: any
Depends: ${shlibs:Depends}
Description: SixXS POP Daemon
 This is the Daemon ran on the various SixXS POPs.
 For more information about SixXS check http://www.sixxs.net
